
section.main.css-k1vhr4.egzxvld3
{
    background-image: linear-gradient(#FF8787, #C8FFD4) !important;    
    color: black !important;
}


div.block-container.css-12oz5g7.egzxvld2
{
    width: 60% !important;
    max-width: 80% !important;
}

h1{
    color: black !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: 1.2cm !important;
    text-align: left !important;
    padding-left: 40px o !important;
}
span {
    color: black !important;
}
li
{
    color: black !important;
    font-size: 0.7cm !important;
}


label.st-bi.st-b3.st-bj.st-bg.st-ar {
    color: #B8E8FC;
    margin-bottom: 20px;
    margin: 30px;
    text-align: center;
}
label.st-bi.st-b3.st-bj.st-bg.st-ar:hover {
    background-color:  #B8E8FC;
}

div.css-6qob1r.e1fqkh3o3{
    background-image: linear-gradient( #FF8787, #C8FFD4) !important;

}

div.css-zt5igj.e16nr0p33{
    background-color: transparent !important;
    border-radius: 2%;
    /* border: 2px solid rgb(250, 1, 1); */
    min-width: 1000px;
    padding-bottom: 30px;
    padding-left: 50px;
}

div.css-184tjsw p {
    font-size: 30px;
    font-weight: bold;
}
button.css-1x8cf1d.edgvbvh10:hover {
    background-color: greenyellow;
}
div.css-10trblm.e16nr0p30{
    color: black !important;
}

div.st-b3.st-bd.st-be.st-bf.st-bg.st-bh.st-cf
{
    color: black !important;
}

div.st-c0.st-ce.st-cf.st-ae.st-af.st-ag.st-ah.st-ai.st-aj.st-cg.st-ch
{
    color: black !important;
    font-size: 25px;
    font-weight: 700;
}

header{
    display: none !important;
}
footer{
    display: none !important;
}

p
{
    color: black !important;
    font-size: 25px !important;
    font-weight: 400 !important;
}

div.css-5uatcg
{
    background-color: aquamarine !important;
}

div.st-eg.st-cg.st-eo.st-ep.st-eq.st-b3.st-bo.st-er.st-eh.st-es.st-et.st-eu.st-ev
{
    color: black !important;
    background-color: #BCE29E !important;
    text-align: center !important;
    font-size: 15px !important;
    font-weight: 600 !important;
}

div.st-au.st-ax.st-av.st-aw.st-eg.st-eh.st-b8.st-b3.st-b4.st-ei.st-dw.st-dx.st-dy.st-dz.st-e0.st-e1.st-e2.st-e3.st-ej.st-b1.st-c3.st-cf.st-ek.st-el.st-em.st-en.st-d3 *, ::before, ::after{
    color: black !important;
    background-color: #BCE29E !important;
    text-align: center !important;
    font-size: 15px !important;
    font-weight: 600 !important;
}

div.st-ae.st-af.st-ag.st-ef.st-ai.st-aj.st-eg.st-cg.st-b8
{
    color: black !important;
    background-color: #BCE29E !important;
    text-align: center !important;
    font-size: 15px !important;
    font-weight: 600 !important;
}

div.st-f1.st-fe.st-cf.st-ff.st-fg
{
    color: black !important;
    background-color: #BCE29E !important;
    text-align: center !important;
    font-size: 15px !important;
    font-weight: 600 !important;
}

div.css-87mhkc.e1wqxbhn2{
    color: black !important;
    background-color: #BCE29E !important;
    text-align: center !important;
    font-size: 15px !important;
    font-weight: 600 !important;
}

div.css-pmxsec.exg6vvm0
{
    color: black !important;
    background-color: #BCE29E !important;
    text-align: center !important;
    font-size: 15px !important;
    font-weight: 600 !important;
}

div.css-1vq4p4l.e1fqkh3o4 p
{
    color: #1f3956 !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: 1.2cm !important;
    font-weight: 800 !important;
    text-align: left !important;
}

div.st-cd.st-cq.st-cr.st-cs.st-ct
{
    color: black !important;
    background-color: #BCE29E !important;
    text-align: center !important;
    font-size: 15px !important;
    font-weight: 600 !important;
}

head.css-1avcm0n.e8zbici2
{
    display: none !important;
}

div.css-1dp5vir.e8zbici1
{
    display: none !important;
}

div.css-1fv8s86.e16nr0p34 p
{
    font-size: 24px !important;
    font-weight: 600 !important;
    color: red !important;
    text-align: justify !important;
}

span.css-10trblm.e16nr0p30
{
    font-size: 35px !important;
}

span.css-15zrgzn.e16nr0p32
{
    font-size: 35px !important;
}

div.css-1yy6isu.e16nr0p34 p
{
    color: black !important;
    font-size: 25px !important;
    font-weight: 700;
    text-align: center !important;
}

section.css-1oyhl2h.exg6vvm15
{
    background-color: #749F82 !important;
}

div.css-fis6aj.exg6vvm10
{
    background-color: #CFFF8D !important;

}


div.css-1v0mbdj.etr89bj1 img
{
    width: calc(100% - 1rem) !important;
    flex: 1 1 calc(100%) !important;
}

div.css-1v0mbdj.etr89bj1 img
{
    width: calc(100% - 1rem) !important;
    flex: 1 1 calc(100%) !important;
}

div.css-1vq4p4l.e1fqkh3o4
{
    padding-top: 10px;
}